{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<div id="contenido">
    <section class="container mx-auto" style="margin-top: 100px;">
        <p class="text-center"><strong>Reporte citas SNI</strong></p>
        <p class="text-center">Esta sección genera el documento de citas que CONACyT solicita a los investigadores que <br>
            buscan entrar o renovar su distinción en el Sistema Nacional de reportes (SNI). </p>
        <p>En particular:</p>
        <p>"En la Sección Citas de Artículos adjunte un archivo en formato PDF no mayor a 2MB, que contenga la relación <br>
            de las citas externas globales a su obra, separando las citas por:</p>
        <ul>
            <strong>Tipo A: </strong>
            <p>Aquellas realizadas en productos de investigación firmadas por uno o varios autores dentro de los
                cuales no hay ninguno que sea autor del trabajo referido a la cita.</p>
        </ul>
        <ul>
            <Strong>Tipo B: </Strong>
            <p>Aquellas realizadas en productos de investigación firmadas por uno o varios autores dentro de los
                cuales puede haber uno o varios autores del trabajo referido en la cita pero no el investigador
                mismo.”</p>
        </ul>
    
        <ul>
            <Strong>Tipo C: </Strong>
            <p>Aquellas publicaciones donde el autor o algún miembro del grupo de trabajo se autocita.</p>
        </ul>
    
        <p> <strong>Nota: </strong>El documento se genera con base en la Biblioteca personal definida en esta plataforma,
            favor de actualizarla.</p>
    
        <p><strong>Créditos:</strong></p>
        <p>Esta sección utiliza el script “SNIads” desarrollado por Christophe Morisset: <a target="_blank"
                href="https://github.com/Morisset/SNI_ads">https://github.com/Morisset/SNI_ads</a></p>
        <div class=" d-flex justify-content-center mt-4">
            <button onclick="reporteSNI()" class="btn btn-success btn-lg pr-4 pl-4 sesion">Continuar</button>
        </div>
    
    </section>
</div>

{% endblock %}

{% block JSCode %}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script>
    
    function reporteSNI(){
        $.ajax({
            type: "GET",
            url: "{% url 'reporteSNI:reporteSNI' %}",
            dataType: "html",
            success: function (response) {
                $('#contenido').html(response)
                
            }
        });
    }
</script>
{% endblock %}