Estimado(a): {{user.get_full_name }}

Ha recibido este correo electrónico porque ha solicitado restablecer la contraseña para su cuenta en {{ domain }}

Por favor siga el siguiente enlace para crear una nueva contraseña.
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Su nombre de usuario, en caso de que lo haya olvidado: {{user.email }}

Cualquier reporte de error, comentario o sugerencia favor de enviar un correo electrónico a: reportes-astro@inaoep.mx

Atentamente.

Coordinación de Atrofisica