{% extends 'core/base.html' %}

{%block contenido%}
<main role="main" style="margin-top: 150px;">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <h3 class="mb-4">Contraseña cambiada correctamente</h3> 
        <p>Puedes volver a tu perfil haciendo click 
          <a href="{% if user.email == 'astrofi@inaoep.mx' %}{% url 'administradores:perfil_adm' %}{% else %}{% url 'registration:actualizar-perfil' %}{% endif %}">aquí</a></p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
