{% extends 'core/base.html' %}
{% load static %}

{%block login%}
<main role="main" >
  <div class="container" style="padding-top: 200px;">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <h3 class="mb-4">Restablecimiento de contraseña enviado</h3>
        <p>En caso que exista una cuenta con la dirección electrónica proporcionada, se le ha enviado
          un correo electrónico con instrucciones para reestablecer su contraseña, favor de verificar su
          carpeta de spam.</p>
        <p><a href="{% url 'registration:login' %}">Iniciar sesión</a></p>
      </div>
    </div>
  </div>
</main>
{% endblock %}