{% extends 'core/base.html' %}
{% load static %}

{%block contenido%}
<div class="container" style="margin-top: 150px;">

  <form action="" id="perfil">
    {% csrf_token %}
    <fieldset>
      <legend>Información Personal:
        <button type="button" class="btn btn-primary float-right" id="editarInfoPersonal"><i
            class="fas fa-edit">&nbsp;Editar</i></button>
      </legend>

      <p>Correo: <span class="text-muted">{{perfil.email}}</span></p>
      <p>Coordinación: <span class="text-muted">{{perfil.coordinacion}}</span></p>
      <div class="form-group">
        <label for="nombre">Nombre(s): </label>
        <input disabled type="text" class="form-control" value="{{perfil.first_name}}" name="nombres" id="nombreP">
      </div>

      <div class="form-group">
        <label for="apellido">Apellido(s): </label>
        <input disabled type="text" class="form-control" value="{{perfil.last_name}}" name="apellidos" id="apellidosP">
      </div>

      <div class="row">
        <div class="col-12">
          <div class="input-group justify-content-end">
            <button id="cancelarInfoPersonal" class="btn btn-warning mr-2 text-white" type="reset">
              <i class="fas fa-ban text-white"></i>&nbsp;Cancelar</i>
            </button>
            <button disabled id="guardarInfoPersonal" onclick="actualizarPerfil()" type="button"
              class="btn btn-success float-right"><i class="fas fa-save">&nbsp; Guardar</i>
            </button>

          </div>
        </div>
      </div>


    </fieldset>

  <hr>
    <fieldset>
      <legend>Información Académica:
        <button type="button" class="btn btn-primary float-right " id="editarInfoAcademica"><i
            class="fas fa-edit">&nbsp;Editar</i></button>
      </legend>
      <div class="form-group">

        <label for="">Categoría*:</label>
        <select disabled class="form-control mb-2" name="categoria" id="categoria">
          <option selected value="{{ perfil.categoria }}">{{perfil.categoria}}
          </option>
          <option value="Investigador posdoctoral">Investigador posdoctoral</option>
          <option value="Cátedra CONACyT">Cátedra CONACyT</option>
          <option value="Investigador Asociado C">Investigador Asociado C</option>
          <option value="Investigador Titular A">Investigador Titular A</option>
          <option value="Investigador Titular B">Investigador Titular B</option>
          <option value="Investigador Titular C">Investigador Titular C</option>
          <option value="Investigador Titular D">Investigador Titular D</option>
        </select>

        <label for="">Nivel SNI*:</label>
        <select disabled class="form-control mb-2" name="nivel_sni" id="nivel_sni">
          <option selected value="{{perfil.nivelSni}}">{{perfil.nivelSni}}</option>
          <option value="No aplica">No aplica</option>
          <option value="Candidato">Candidato</option>
          <option value="Nivel 1">Nivel 1</option>
          <option value="Nivel 2">Nivel 2</option>
          <option value="Nivel 3">Nivel 3</option>
          <option value="Emérito">Emérito</option>
        </select>

        <label for="ORCID">ORCID</label>
        <input disabled type="text" class="form-control mb-2"
          placeholder="Ingrese su ORCID en formato 0000-1111-2222-3333"
          value="{% if perfil.orcId %}{{perfil.orcId}}{% endif %}" name="orc_id" id="orc_id">

        <!--
        <label for="">ArXiv ID</label>
        <input disabled type="text" class="form-control mb-2" placeholder="Escriba su ArXiv ID"
          value="{% if perfil.arxivId %}{{perfil.arxivId}}{% endif %}" name="arxiv_id" id="arxiv_id">
        -->

        <div class="input-group justify-content-end mt-3">

          <button id="cancelarInfoAcademica" class="btn btn-warning mr-2 text-white" type="reset">
            <i class="fas fa-ban text-white"></i>&nbsp;Cancelar</i>
          </button>

          <button disabled id="infoAcademica-btn" onclick="actualizarPerfil()" type="button"
            class="btn btn-success"><i class="fas fa-save">
              &nbsp; Guardar</i></button>
        </div>
      </div>
    </fieldset>

  </form>

</div>
<div class="w-100 pt-4"></div>
{%endblock%}


{% block JSCode %}
<script>
  //Informacion personal
    document.getElementById("editarInfoPersonal").addEventListener('click', function () {
    document.getElementById("nombreP").disabled = false;
    document.getElementById("apellidosP").disabled = false;
    document.getElementById("guardarInfoPersonal").disabled = false;
    this.disabled = true;
  });

  document.getElementById("cancelarInfoPersonal").addEventListener('click', function () {
    document.getElementById("nombreP").disabled = true;
    document.getElementById("apellidosP").disabled = true;
    document.getElementById("guardarInfoPersonal").disabled = true;
    document.getElementById("editarInfoPersonal").disabled = false;
    document.getElementById("guardarInfoPersonal").disabled = true;
  });

  document.getElementById("guardarInfoPersonal").addEventListener('click', function () {
    document.getElementById("nombreP").disabled = true;
    document.getElementById("apellidosP").disabled = true;
    document.getElementById("guardarInfoPersonal").disabled = true;
    document.getElementById("editarInfoPersonal").disabled = false;
    this.disabled = true;
  });

//Informacion academica
  document.getElementById("cancelarInfoAcademica").addEventListener('click', function () {
    document.getElementById("categoria").disabled = true;
    document.getElementById("nivel_sni").disabled = true;
    document.getElementById("orc_id").disabled = true;
    //document.getElementById("arxiv_id").disabled = true;
    document.getElementById("infoAcademica-btn").disabled = true;
    document.getElementById("editarInfoAcademica").disabled = false;
  })

  document.getElementById("editarInfoAcademica").addEventListener('click', function () {
    document.getElementById("categoria").disabled = false;
    document.getElementById("nivel_sni").disabled = false;
    document.getElementById("orc_id").disabled = false;
    //document.getElementById("arxiv_id").disabled = false;
    document.getElementById("infoAcademica-btn").disabled = false;
    this.disabled = true;
  });

  document.getElementById("infoAcademica-btn").addEventListener('click', function () {
    document.getElementById("categoria").disabled = true;
    document.getElementById("nivel_sni").disabled = true;
    document.getElementById("orc_id").disabled = true;
    //document.getElementById("arxiv_id").disabled = true;
    document.getElementById("editarInfoAcademica").disabled = false;
    this.disabled = true;
  });


  function actualizarPerfil() {
    var data = new FormData(document.getElementById("perfil"));
    console.log(data);
    
    fetch("{% url 'registration:actualizar-perfil' %}",{
      method:"POST",
      body: data,
    })
    .then(response =>{
      perfil.actualizado("informacion personal actualizada.");
    })
    .catch(err=>{
      perfil.fallido(message);
    });

  }

  var perfil = {
    actualizado: texto => {
      Swal.fire({
        title: 'Actualizado',
        text: texto,
        icon: 'success',
        showConfirmButton: false,
        timerProgressBar: true,
        timer: 2000
      });
    },
    fallido: message => {
      Swal.fire({
        title: 'Error en la solicitud',
        text: 'Algo salio mal ' + message.statusText,
        icon: 'error',
      });
    }
  }

</script>
{% endblock %}