{% extends 'core/header.html' %}
{% load static %}
{%block metricas %}
<section style="padding-top: 300px;">
    
    <!--Form-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p> <span class="text-muted">QUICK FIELD:</span>
                    <button class="btn btn-link" id="title">title</button>
                    <button class="btn btn-link" id="bibcode">bibcode</button>
                </p>
                <form  id="obtenerMetricas">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" id="busquedaGeneral" class="form-control" name="query" aria-label="metricas"
                            aria-describedby="metricas">
                        <div class="input-group-prepend">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-search text-white"></i></button>
                        </div>
                    </div>
                </form>
                <div id="titulo" class="container-fluid">
        
                </div>
            </div>
        </div>
    </div>
    
    <!--Citas tables--->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div id="citas" style="background-color: rgba(212, 212, 212, 0.3);" class="citas p-1">
                    <p>
                        <h2 class="ml-2">Citas</h2>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <table class="table table-hover">

                    <tbody>
                        <tr>
                            <th scope="row">Citas totales</th>
                            <td><i data-toggle="PopoverCitasTotales" data-placement="right"
                                    class="fas fa-question-circle text-muted"></i></td>
                            <td id="numCitasTotales"></td>

                        </tr>
                        <tr>
                            <th scope="row">Citas normalizadas</th>
                            <td><i data-toggle="PopoversCitasNormalizadas"
                                    class="fas fa-question-circle text-muted"></i></td>
                            <td id="numCitasNormalizadas"></td>

                        </tr>
                        <tr>
                            <th scope="row">Citas referenciadas</th>
                            <td><i data-toggle="PopoversCitasReferenciadas"
                                    class="fas fa-question-circle text-muted"></i></td>
                            <td id="numCitasReferenciadas"></td>

                        </tr>
                        <tr>
                            <th scope="row">Citas referenciadas normalizadas</th>
                            <td><i data-toggle="PopoversCitasRefNorm" class="fas fa-question-circle text-muted"></i>
                            </td>
                            <td id="numCitasRefNorm"></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#total" role="tab"
                            aria-controls="home" aria-selected="true">Total</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#normalizada" role="tab"
                            aria-controls="profile" aria-selected="false">Normalizadas</a>
                    </li>

                </ul>

                <div class="tab-content" id="TabCitas">

                    <div class="radioButtons mt-2">
                        <input class="ml-2 mr-2" value=true type="radio" name="stacked-groupedCitas" id="stacked"
                            checked>&nbsp; <label for="stacked">stacked</label>
                        <input class="ml-2 mr-2" value=false type="radio" name="stacked-groupedCitas"
                            id="grouped">&nbsp;<label for="grouped">grouped</label>
                    </div>

                    <div class="tab-pane fade show active" id="total" role="tabpanel" aria-labelledby="home-tab"><canvas
                            id="TotalCitas"></canvas></div>
                    <div class="tab-pane fade" id="normalizada" role="tabpanel" aria-labelledby="profile-tab"><canvas
                            id="NormalizadaCitas"></canvas></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div id="lecturas" style="background-color: rgba(212, 212, 212, 0.3);" class="lecturas p-1">
                    <p>
                        <h2 class="ml-2">Reads</h2>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <table class="table table-hover">

                    <tbody>
                        <tr>
                            <th scope="row">Número total de lecturas</th>
                            <td><i data-toggle="PopoverTotalLecturas" class="fas fa-question-circle text-muted"></i>
                            </td>
                            <td id="numTotalLecturas"></td>

                        </tr>
                        <tr>
                            <th scope="row">Número total de descargas</th>
                            <td><i data-toggle="PopoverNumeroDescargas" class="fas fa-question-circle text-muted"></i>
                            </td>
                            <td id="numTotalDescargas"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#totalRead" role="tab"
                            aria-controls="home" aria-selected="true">Total</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#normalizadaRead" role="tab"
                            aria-controls="profile" aria-selected="false">Normalizadas</a>
                    </li>

                </ul>

                <div class="tab-content" id="TabReads">

                    <div class="radioButtons mt-2">
                        <input class="ml-2 mr-2" value="true" type="radio" name="stacked-groupedRead" id="stackedRead"
                            checked>&nbsp; <label for="stackedRead">stacked</label>
                        <input class="ml-2 mr-2" value="false" type="radio" name="stacked-groupedRead"
                            id="groupedRead">&nbsp;<label for="groupedRead">grouped</label>
                    </div>

                    <div class="tab-pane fade show active" id="totalRead" role="tabpanel"
                        aria-labelledby="totalRead-tab"><canvas id="TotalRead"></canvas></div>

                    <div class="tab-pane fade" id="normalizadaRead" role="tabpanel"
                        aria-labelledby="normalizadaRead-tab"><canvas id="NormalizadaRead"></canvas></div>
                </div>
            </div>

        </div>
    </div>

</section>
{% endblock %}

{% block JsCode %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    $(function () {
        $('[data-toggle="PopoverCitasTotales"]').popover({
            trigger: 'hover',
            html: true,
            title: "Citas Totales",
            content: `<small class="form-text text-muted mb-3">
                                The total number of times all papers in the list were cited.
                                </small>`
        });
        $('[data-toggle="PopoversCitasNormalizadas"]').popover({
            trigger: 'hover',

            title: "Citas Normalizadas",
            content: `For a list of N papers (i=1,...N), where N<sub>auth</sub><sup>i</sup> is the number of authors for publication i and C<sub>i</sub> the number of citations that this paper received, the normalized citation count for each article is C<sub>i</sub>/N<sub>auth</sub><sup>i</sup> ,and the 'normalized citations' for this list of N papers is the sum of these N numbers.`
        });
        $('[data-toggle="PopoversCitasReferenciadas"]').popover({
            trigger: 'hover',
            html: true,
            title: "Citas Referenciadas",
            content: `<small class="form-text text-muted mb-3">
                                    Number of refereed citing papers.
                                </small>`
        });
        $('[data-toggle="PopoversCitasRefNorm"]').popover({
            trigger: 'hover',
            html: true,
            title: "Citas Referenciadas Normalizadas",
            content: `<small class="form-text text-muted mb-3">
                                The normalized number of citations from refereed publications to all refereed publications in the list.
                                </small>`
        });
        $('[data-toggle="PopoverTotalLecturas"]').popover({
            trigger: 'hover',
            html: true,
            title: "Número total de lecturas",
            content: `<small class="form-text text-muted mb-3">
                        The total number of times all papers were read. For each paper, a read is counted if an ADS user runs a search in our system and then requests to either view the paper\'s full bibliographic record or download the fulltext.
                                </small>`
        });
        $('[data-toggle="PopoverNumeroDescargas"]').popover({
            trigger: 'hover',
            html: true,
            title: "Número total de descargas",
            content: `<small class="form-text text-muted mb-3">
                        The total number of times full text (article or e-print) was accessed.
                                </small>`
        });

    });
</script>
<script>

    $(document).ready(function () {
        //Grafica Total Citas
        let options = {

                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        stacked: true
                    }],
                    xAxes: [{
                        stacked: true
                    }]
                },

                title: {
                    display: true,
                    text: 'papers',
                    position:'left'
                }
            }
        
        let TotalCitas = document.getElementById("TotalCitas").getContext("2d");
        let tc = new Chart(TotalCitas, {
            type: "bar",
            data: {
                datasets:
                    [{
                        label: 'Ref. Citations to ref. papers',
                        borderColor: 'blue',
                        backgroundColor: 'rgb(0, 0, 255,0.6)',
                    },

                    {
                        label: 'Non ref. citations to ref. papers',
                        borderColor: 'green',
                        backgroundColor: 'rgb(0, 128, 0, 0.6)',
                    }
                    ],

            },
            options: options
        });
        
        //Grafica Normalizada Citas
        var citasNormalizadas = document.getElementById("NormalizadaCitas").getContext("2d");
        var cn = new Chart(citasNormalizadas, {
            type: "bar",
            data: {
                datasets:
                    [{
                        label: 'Ref. Citations to ref. papers',
                        borderColor: 'blue',
                        backgroundColor: 'rgb(0, 0, 255,0.6)',
                    },

                    {
                        label: 'Non ref. citations to ref. papers',
                        borderColor: 'green',
                        backgroundColor: 'rgb(0, 128, 0, 0.6)',
                    }
                    ],

            },
            options: options
        });

        //Grafica Total Reads
        var totalReads = document.getElementById("TotalRead").getContext("2d");
        var tr = new Chart(totalReads, {
            type: "bar",
            data: {
                datasets:
                    [{
                        label: 'Refereed',
                        borderColor: 'blue',
                        backgroundColor: 'rgb(0, 0, 255,0.6)',
                    }],
            },
            options: options
        });

        //Grafica Normalizada Reads
        var readsNormalizadas = document.getElementById("NormalizadaRead").getContext("2d");
        var rn = new Chart(readsNormalizadas, {
            type: "bar",
            data: {
                datasets:
                    [{
                        label: 'Refereed',
                        borderColor: 'blue',
                        backgroundColor: 'rgb(0, 0, 255,0.6)',
                    },],

            },
            options: options
        });

        //Cambiar stacked true - false
        $('input[type=radio][name=stacked-groupedCitas]').change(function () {
            valor = $('input:radio[name=stacked-groupedCitas]:checked').val();
            if(valor == "true"){
                valorStacked = true
            }
            else{
                valorStacked = false
            }

            tc.options = {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        stacked: valorStacked
                    }],
                    xAxes: [{
                        stacked: valorStacked
                    }]
                },
                title: {
                    display: true,
                    text: 'papers',
                    position:'left'
                }
            };
            tc.update();

            cn.options = {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        stacked: valorStacked
                    }],
                    xAxes: [{
                        stacked: valorStacked
                    }]
                },
                title: {
                    display: true,
                    text: 'papers',
                    position:'left'
                }
            };
            cn.update();
        });
        
        $('input[type=radio][name=stacked-groupedRead]').change(function () {
            valor = $('input:radio[name=stacked-groupedRead]:checked').val();
            if(valor == "true"){
                valorStacked = true
            }
            else{
                valorStacked = false
            }

            tr.options = {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        stacked: valorStacked
                    }],
                    xAxes: [{
                        stacked: valorStacked
                    }]
                },
                title: {
                    display: true,
                    text: 'papers',
                    position:'left'
                }
            };
            tr.update();

            rn.options = {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        stacked: valorStacked
                    }],
                    xAxes: [{
                        stacked: valorStacked
                    }]
                },
                title: {
                    display: true,
                    text: 'papers',
                    position:'left'
                }
            };
            rn.update();
        });
        
        $('#obtenerMetricas').submit(function(e){
            e.preventDefault();
            var formData = new FormData(document.getElementById("obtenerMetricas"))
            $.ajax({
                url: '{% url "metricas:obtenerGrafico" %}',
                type: "post",
                data: formData,
                enctype: "multipart/form-data",
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'json',

                success: function (data) {

                    //Tabla Citas
                    $("#numCitasTotales").html(data.citasTotales)
                    $("#numCitasNormalizadas").html(data.citasNormalizadas)
                    $("#numCitasReferenciadas").html(data.citasReferenciadas)
                    $("#numCitasRefNorm").html(data.citasReferenciadasNormalizadas)

                    //Tabla Reads
                    $("#numTotalLecturas").html(data.numTotalLecturas)
                    $("#numTotalDescargas").html(data.numTotalDescargas)
                    $("#titulo").html(`
                    <h4 class="text-primary"><b>Metricas para</b></h4>
                    <p class="text-muted" ><b>${data.titulo}</b></p>
                    `);
                    cargarTotalCitas(data);
                    cargarCitasNormalizadas(data);
                    cargarTotalReads(data);
                    cargarReadsNormalizadas(data);
                    
                }
            });
            return false;
        });
        
        function cargarTotalCitas(data){
            labels = []
            refereed_to_refereed = []
            nonrefereed_to_refereed = []

            $.each(data.refereed_to_refereed, function (indexInArray, valueOfElement) { 
                labels.push(indexInArray);
                refereed_to_refereed.push(valueOfElement)
            });
            $.each(data.nonrefereed_to_refereed, function (indexInArray, valueOfElement) { 
                nonrefereed_to_refereed.push(valueOfElement)
            });
            
            tc.data.labels = labels
            tc.data.datasets[0].data =  refereed_to_refereed; // Ref. citations to ref. papers
            tc.data.datasets[1].data =  nonrefereed_to_refereed; // Non ref. citation to ref. papers
            
            
            tc.update();
        }
        function cargarCitasNormalizadas(data){
            labels = []
            refereed_to_refereed_normalized = []
            nonrefereed_to_refereed_normalized = []

            $.each(data.refereed_to_refereed_normalized, function (indexInArray, valueOfElement) { 
                labels.push(indexInArray);
                refereed_to_refereed_normalized.push(valueOfElement)
            });

            $.each(data.nonrefereed_to_refereed_normalized, function (indexInArray, valueOfElement) { 
                nonrefereed_to_refereed_normalized.push(valueOfElement)
            });
            
            cn.data.labels = labels
            cn.data.datasets[0].data =  refereed_to_refereed_normalized; // Ref. citations to ref. papers
            cn.data.datasets[1].data =  nonrefereed_to_refereed_normalized; // Non ref. citation to ref. papers
            cn.update();
        }
        
        function cargarTotalReads(data){
            labels = []
            refereed_reads = []
    
            $.each(data.refereed_reads, function (indexInArray, valueOfElement) { 
                labels.push(indexInArray);
                refereed_reads.push(valueOfElement)
            });
            
            tr.data.labels = labels
            tr.data.datasets[0].data = refereed_reads; // Refereed
            tr.update();
        }
        function cargarReadsNormalizadas(data){
            labels = []
            refereed_reads_normalized = []

            $.each(data.refereed_reads_normalized, function (indexInArray, valueOfElement) { 
                labels.push(indexInArray);
                refereed_reads_normalized.push(valueOfElement)
            });
 
            rn.data.labels = labels
            rn.data.datasets[0].data =   refereed_reads_normalized; // Refereed
            rn.update();
        }


        $("#title").click(function () {
            $('#busquedaGeneral').val('title:""').focus()
        });

        $("#bibcode").click(function () {
            $('#busquedaGeneral').val('bibcode:""').focus()
        });
    
    });
</script>

{% endblock %}