{% extends 'core/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}
{% block contenido %}

<section class="container centrar">

    <div class="row text-center d-flex justify-content-center">


        <div class="col-12 col-sm-6 col-md-6 col-lg-2">
            <a href="{% url 'registration:actualizar-perfil' %}"><img id="perfilAdmin" class="iconos"
                    src="{% static 'media/perfil.png'%}" alt=""><br></a>
            <strong>
                <p class="text-dark">Perfil</p>
            </strong>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-2">
            <a href="{% url 'reportes:reporte-productividad' %}"><img class="iconos"
                    src="{% static 'media/reporte.png'%}" alt=""><br></a>
            <strong>
                <p class="text-dark">Reporte de <br>productividad</p>
            </strong>
        </div>

        {% if user.coordinacion_id == 1 %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-2">
            <a href="{% url 'reportes:biblioteca_personal'%}"><img class="iconos"
                    src="{% static 'media/biblioteca.png'%}" alt=""><br></a>
            <strong>
                <p class="text-dark">Biblioteca</p>
            </strong>
        </div>
        {% endif %}

        <div class="col-12 col-sm-6 col-md-6 col-lg-2">
            <a href="{% url 'reporteSNI:instruccionesSNI' %}"> <img class="iconos" src="{% static 'media/sni.png'%}"
                    alt=""><br></a>
            <strong>
                <p class="text-dark">Citas SNI</p>
            </strong>
        </div>

        <!--
                <div class="col-12 col-sm-6 col-md-12 col-lg-2">
                    <a href="{% url 'metricas:metricasForm' %}"><img class="metrica_ADS" src="{% static 'media/metricas.png'%}" alt=""></a><br>
                    <strong><p class="text-dark">Metrica ADS</p></strong>
                </div>
            -->

    </div>
</section>

{% endblock %}

{% block JSCode %}
{% if sesion %}

{% endif %}

{% endblock %}