<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Estimado(a): {{nombre}}, {{apellido}} </p>
    <p>Su reporte correspondiente al periodo {{periodo}} se ha enviado exitosamente a la Coordinación de Astrofísica, ¡gracias!</p>
    <p>Se anexa el reporte en formato PDF.</p>
    <p>En caso de querer realizar alguna corrección o añadir más información, puede editar la información en el periodo correspondiente y volver a enviar el reporte.</p>
    <p>Cualquier reporte de error, comentario o sugerencia favor de enviar un correo electrónico a: <a href="">reportes-astro@inaoep.mx</a></p>
    <p>Atentamente,</p>
    <p>Coordinación de Astrofísica</p>
    <p>INAOE</p>
</body>
</html>