/*Perfil*/
.iconos{
    width:150px;
    height:150px;
    border-radius:150px;
    opacity: 0.7;
}

/*HOVER*/
.iconos:hover{
    cursor: pointer;
    opacity: 1;
}

.centrar{
    margin-top: 140px;
  }

@media (min-width: 768px) {
  .centrar {
    margin-top: 200px;
  }
}