<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Estimado(a) investigador(a):</p>
    <p>Se le informa que ya se encuentra disponible el periodo {{periodo}} en el Sistema de Reportes de Astrofísica:</p>
    <p></p>


    <p>http://califa.inaoep.mx</p>

    <p>Cualquier reporte de error, comentario o sugerencia favor de enviar un correo electrónico a: reportes-astro@inaoep.mx</p>
    <p>Atentamente,</p>
    <p>Coordinación de Astrofisica</p>
    <p>INAOE</p>

</body>
</html>