{% extends 'core/base.html' %}

{% block contenido %}
{% load static %} {# Archivos #}

<div class="container" style="margin-top: 150px;">

    <div class="row">

        <div class="col-12 col-lg-4 mb-2">
            <button type="button" onclick="reporteMaestro()" class="btn btn-success"><i style="font-size: 20px;"
                    class="far fa-file-word"></i>&nbsp; Reporte Maestro</button>
        </div>

        <div class="col-12 col-lg-4 d-flex justify-content-center mb-2"><strong id="periodo_actual"></strong></div>

        <div class="col-12 col-lg-4 mb-2">
            <div class="d-flex justify-content-end">
                <form  method="POST">
                    {% csrf_token %}
                    <label for="periodos"><strong>Periodos</strong></label>
                    
                    <select onchange="tabla_reportes()" class="form-control" name="periodo_id" id="periodo">
                        {% for periodo in periodos %}
                        <option value="{{periodo.id}}">{{ periodo }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>

    </div>
</div>

<section class="container" id="tabla-reportes"></section>

{% endblock %}

<!--JS Code-->
{% block JSCode %}
<!--Data table -->
<script src="{% static 'DataTables/datatables.min.js'%}"></script>
<link rel="stylesheet" href="{% static 'DataTables/datatables.min.css'%}">
<!--Fin datatables-->
<script>
    $(document).ready(function () {
        tabla_reportes();
    });
    function reporteMaestro() {
        var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val().trim();
        var periodo_id = $('select[name="periodo_id"] option:selected').val();
        var periodoActual = $('select[name="periodo_id"] option:selected').text();

        Swal.fire({
            title: 'Reporte Maestro',
            icon: 'info',
            text: 'Generando reporte, espere un momento',
            allowOutsideClick: false,
            timerProgressBar: true,
            willOpen: () => {
                Swal.showLoading()
            },
        })

        var req = new XMLHttpRequest();
        req.open("POST", "{%  url 'administradores:reporteMaestro' %}", true);

        req.responseType = "blob";
        var formData = new FormData();
        formData.append('periodoActual', periodo_id)
        formData.append('csrfmiddlewaretoken', csrfmiddlewaretoken)

        req.onload = function (event) {
            var blob = req.response;
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = "Reporte Maestro " + periodoActual + ".docx";
            link.click();

            Swal.fire({
                title: 'Reporte Maestro',
                icon: 'success',
                html: '<p>Reporte maestro del periodo</p>' +
                    `${periodoActual}` + '<p>generado con éxito</p>',
            })
        };
        req.send(formData);
    }
    function loadDataTables(){
        $('#reportes').DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ usuarios",
            "zeroRecords": "No se encontraron resultados",
            "info": "<small>Mostrando usuarios del _START_ al _END_ de un total de _TOTAL_ registros</small>",
            "infoEmpty": "No existen usuarios",
            "infoFiltered": "(filtrado de un total de _MAX_ usuarios",
            "sSearch": "Buscar:",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Ultimo",
                "sNext": "Siguiente",
                "sPrevious": "Anterior",
            },
            "sProcessing": "Procesando..."
        },
        dom: 'lifBtp',
        "pageLength": 20,
        "lengthMenu": [[5, 10, 20, 25, 50, -1], [5, 10, 20, 25, 50, "Todos"]],
        "order": [[1, "asc"]],
        responsive: true,

    }); // Fin Reportes DataTable
    }
    function tabla_reportes(){
        const csrftoken = $('input[name="csrfmiddlewaretoken"]').val().trim();
        var periodoActualText = ""
        var periodoActual = $("select[name='periodo_id']").val().trim();
        var formData = new FormData();
        formData.append('periodoActual',periodoActual);
        formData.append('csrfmiddlewaretoken',csrftoken);
        $.ajax({
            type: "POST",
            url: "{% url 'administradores:tabla_reportes' %}",
            data: formData,
            enctype: "multipart/form-data",
            cache: false,
            contentType: false,
            processData: false,
            dataType: "html",
        })
        .done(function(response){
            $("#tabla-reportes").html(response);
            periodoActualText = $("#periodoActualText").text().trim()
            $("#periodo_actual").text("Periodo: " + periodoActualText);
            loadDataTables();
            
        })
        .fail(function(response){
            console.log(response);
        });
    }
</script>
{% endblock %}